.canvasR{
    border: 1px solid black;
    background-color: #353232;
    margin:0;
    overflow: hidden;
    width: 100%;
    overscroll-behavior: none;  
}
#center {
    position: absolute;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    left: 50%;
}

#timer{
    text-align: center;
}
.timerpos{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%);
}